/* Allmänt */
*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
/* Header */
.förstasidan{
    display: flex;
    flex-flow: column;
    height: 100%;
}
header{
    background-color: rgba(255,255,255,.1);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    display: flex;
    margin-right: 21px;
    list-style-type: none;
}
nav li{
    padding: 21px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 21px;
}
nav a:hover{
    text-decoration: underline;
}
.meny:checked ~ nav{
    display: block;
}
.meny{
    display: none;
}
.menylabel{
    display: none;
}
span{
    font-size: 25px;
    margin-right: 7px;
}
/* Flum */
body{
    image-rendering: pixelated;
    background-image: url('../bilder/skog.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
#flumflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
ul{
    padding: 0;
}
.flumrutan{
    width: 100%;
    margin: auto 0%;
}
.flumtext{
    color: white;
    text-align: center;
    word-spacing: 3px;
    font-size: 23px;
    padding: 33px;
}
.flumtext:first-child{
    font-weight: bold;
    font-size: 30px;
}
.piljävel{
    margin-bottom: 75px;
}
#aboutpil{
    align-self: bottom;
    color: white;
    font-size: 22px;
}
/* Träffa laget */
h2{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}
.lagflex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
}
.lagmedlem{
    flex: 50%;
}
.lagmedlem img{
    max-width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #666;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption{
    margin: 20px;
}
.figöver{
    font-weight: bold;
}
.figunder{
    background-color: lightgray;
    border-radius: 3px;
    max-width: 65%;
    max-height: 50%;
    padding: 30px;
}
#contactpil{
    color: black;
    font-size: 22px;
}
/* Footer */
.footer{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 5% 2% 10%;
}
.footerkolumn{
    flex: 26%;
    max-width: 26%;
    padding: 1%;
    margin: 1%;
    display: flex; 
    justify-content: center;
}
.footerkolumn li{
    list-style-type: none;
    font-size: 22px;
    line-height: 150%;
}
.footerikon{
    margin-right: 10px;
    font-size: 25px;
}
/* iPhone X */
@media screen and (max-width: 600px){
body{
    image-rendering: pixelated;
    background-image: url('../bilder/skog.jpg');
    background-size: cover;
    background-position: center center;
}
header{
    color: white;
    height: 40px;
}
.menylabel{
    position: absolute;
    right: 2%;
    display: flex;
    align-items: top;
}
nav{
    position: absolute;
    background-color: rgba(255,255,255,.1);
    width: 100%;
    padding-top: 150px;
    padding-bottom: 5px;
    text-align: center;
    display: none;
}
nav ul{
    flex-direction: column;
    margin: 0;
}
nav li{
    padding: 0;
}
nav a:hover{
    text-decoration: none;
}
.flumtext{
    word-spacing: 3px;
    font-size: 25px;
    padding: 7%;
}
.flumtext:first-child{
    font-weight: bold;
    font-size: 33px;
}
.piljävel{
    margin-bottom: 40px;
}
.lagflex{
    padding: 0;
}
.lagmedlem{
    flex: 100%;
}
.lagmedlem img{
    max-width: 75%;
}
.figunder{
    max-width: 77%;
}
.footer{
    padding: 35px 0px;
}
.footerkolumn{
    max-width: 100%;
    justify-content: flex-start;
    margin-left: 20%;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
}